h1{
  font-size:52px;
  color:#e67e22;
  text-align:center;
}

body{
  color: #555;   font-family: Helvetica, Arial, sans-serif;   line-height: 1.5;
    width:1000px;
  margin-left:auto; /*200px change for all the text*/
  margin-right:auto; /*200px*/

}

header{
  background-image: url('https://images.unsplash.com/photo-1463740839922-2d3b7e426a56?dpr=1&auto=format&fit=crop&w=767&h=468&q=80&cs=tinysrgb&crop=');
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 70px;
  padding-bottom: 150px;
}
a{
  color: #fff;
  border: 1xp solid #2ecc71;
  background-color: #2ecc71;
  padding: 3px;
  border-radius: 5px;
}
ul.nav li{
  display: inline-block;
  padding-left: 130px;
  align-items: center;
}

}
ul.row div{
  display: inline-block;
}

a:hover{
  background-color: #e74c3c;
  border-color: #e74c3c;
}
